body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: "Outfit";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 20px;
}

p {
    font-weight: 400;
    font-size: 15px;
}

/* Qr Code Section */
.qr-code {
    background-color: hsl(0 0 100%);
    padding: 1rem;
    border-radius: 5%;
    width: 250px;
}

.qr-code-img {
    width: 250px;
    border-radius: 5%;
}